<div id="<%= dom_id emploi %>">
<p>Entreprise nom</p>
<p>publié il y a un mois</p>
  <p>
    <strong>Titre de poste:</strong>
    <%= emploi.titre_de_poste.name %>
  </p>

  <p>
    <strong>Localisation:</strong>
    <%= emploi.localisation.name %>
  </p>

  <p>
    <strong>Type de localisation:</strong>
    <%= emploi.type_de_localisation.name %>
  </p>

  <p>
    <strong>Emploi type:</strong>
    <%= emploi.emploi_type.name %>
  </p>

  <p>
    <strong>Niveau experience:</strong>
    <%= emploi.niveau_experience.name %>
  </p>

  <p>
    <strong>Annees experience:</strong>
    <%= emploi.annees_experience %>
  </p>

  <p>
    <strong>Fourchette salaire:</strong>
    <%= emploi.fourchette_salaire %>
  </p>
<%=link_to "voir cet emploi", emploi%>

</div>
