<h2>Emplois qui me correspondent</h2>
<%=render @emplois%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<!--
  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>



  <div class="field">
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
    <% if @minimum_password_length %>
      <p><em><%= @minimum_password_length %> characters minimum</em></p>
    <% end %>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>
-->

  <div class="field">
    <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
    <p><%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>
<div class="field">
  <%= f.label :titre_de_poste_ids, "Titres de postes recherchés" %><br />
  <%= f.collection_check_boxes :titre_de_poste_ids, TitreDePoste.all, :id, :name do |b| %>
    <div class="checkbox-group">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>
<div class="field">
  <%= f.label :localisation_ids, "Localisations recherchées" %><br />
  <%= f.collection_check_boxes :localisation_ids, Localisation.all, :id, :name do |b| %>
    <div class="checkbox-group">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>
<div class="field">
  <%= f.label :type_de_localisation_ids, "Type de Localisations recherchées" %><br />
  <%= f.collection_check_boxes :type_de_localisation_ids, TypeDeLocalisation.all, :id, :name do |b| %>
    <div class="checkbox-group">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>
<div class="field">
  <%= f.label :emploi_type_ids, "Type d'emplois" %><br />
  <%= f.collection_check_boxes :emploi_type_ids, EmploiType.all, :id, :name do |b| %>
    <div class="checkbox-group">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>
<div class="field">
  <%= f.label :niveau_experience_ids, "Niveau d'expérience" %><br />
  <%= f.collection_check_boxes :niveau_experience_ids, NiveauExperience.all, :id, :name do |b| %>
    <div class="checkbox-group">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

  <div class="actions">
    <%= f.submit "Afficher les résultats" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
